@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:100wght@100&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap%22");


html {
    scroll-behavior: smooth;
}

body {
    color: #283655 !important;
    background-color: #f7faff !important;
    font-family: 'Rambla', sans-serif;
}

h2, h3 {
    font-family: 'audiowide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}

li{
    list-style-type: none;
}

/* ********************************************HEADER*********************************************/

.navbar {
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}

.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}

header {
    text-align: center;
    height: 300vh;
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}
h1 {
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}

#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}

.presentation {
    height: 240px;
    margin-top: 20px;
}

.infos {
    border: 1px solid#b3aca7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.photo {
    border: 1px solid#b3aca7;
    position: relative;
}

.photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 4px#111;
}

header .button {
    margin-top: 45px;
}

header .button a {
    padding: 20px 80px;
    border: 1px solid#b3aca7;
    width: 300px;
}
header .button:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/**********************************Langages****************************************/

#langages {
    padding: 80px 80px 80px 50px;
    margin: 20px 0 0 6%;
    height: 620px;
    width: 47%;
    max-width: 640%;
    background: linear-gradient(66deg,rgba(251,0,0,0.96) 0%, rgba(230,84,16,0.46) 60%, rgba(197,35,35,0.45) 99%);
    clip-path: polygon(0 6%, 100% 0%, 86% 100%, 0 94%);
}

#langages .bar {
    padding: 10px 0 4px 0;
    letter-spacing: 0.1em;
}

/******************************FORMATION**********************************/

#formation {
    position: relative;
    top: -200px;
    float: right;
    margin-right: 5%;
    padding: 80px 0 60px 50px;
    width: 45%;
    max-width: 660px;
    background: linear-gradient(19deg, rgba(0,180,219,0.69) 0%, #0083b0 80%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 1% 95%);
}

#autodidacte {
padding-top: 20px;
}

#fcc {
    padding: 50px 0 0 9%;
}

#occ {
padding: 50px 0 0 18%;
}

#formation h4 {
    font-weight: bold;
    letter-spacing: 0.08em;
    padding-bottom: 10px;
    color: #005978;
    text-shadow: -1px -1px 1px #35b4d5;
}

.counter {
    display: flex;
    text-align: center;
}

.data {
    border: 1px solid #35b4d5;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 8px #1c9dc4;
    padding: 5px 20px;
}

.counter-value {
    font-size: 2em;
}
.data-span {
font-size: 1.8em;
}
/************************************* Parcours *****************************************/

#parcours {
    max-width: 800px;
    margin: 640px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(./media/parcours.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    border-radius: 8px;
    box-shadow: -1px -1px 8px #283655;
}

#parcours h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
}

#parcours h4 {
    font-size: 1.6em;
    color: #ff4e50;
    margin-left: 20px;
}

#parcours h6 {
    font-style: italic;
    color: #edca21;
    margin-left: 20px;
}
#parcours p {
    line-height: 1.9em;
}
.timeline {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 40px;
    position: relative;
}
.timeline:nth-child(1):after {
content: '▲';
color: #ff4e50;
position: absolute;
top: -10px;
right: -10px;
box-sizing: content-box !important;
}

.timeline:nth-child(1) {
    border-bottom: 3px solid;
    border-top: none;
    width: 80%;
}

.timeline:nth-child(2) {
    border-top: none;

}

.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.timeline:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}

/***********Autre compétences*******************************************/

#other-skills {
    margin-top: 80px;
    padding: 50px 100px 100px 100px;
    width: 100%;
    background-color: #375E97;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 84%);
}

#other-skills h3 {
    transform: rotate(-3.2deg);
    font-size: 3em;
    padding-top: 30px;
    text-shadow: -1px 1px 0px maroon;
    color: #ffbb00;
}

.cloud {
    text-align:center;
    padding: 50px 0;
    font-size: 2em;
    text-transform: uppercase;
}

/***************************HOBBIES***********************************/

#hobbies {
    padding: 250px 50px 100px 50px;
    margin: -300px 0px -90px 0px;
    clip-path: polygon(0 21%, 100% 31%, 100% 95%, 0 100%);
    background: #ffbb00;
}

#hobbies h3 {
    transform: rotate(4.2deg);
    font-size: 3em;
    text-shadow: -1px 1px 0px #375E97;
}

.pictures {
    display: flex;
    justify-content: center;
}

.flip-box-back div {
    margin: 0 auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.flip-box-back p {
    text-transform: uppercase;
    padding: 10px;
    font-size-adjust: auto;
}
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/**************************FOOTER********************************/

footer {
    background: url(./media/footer.jpg) 50% 0% no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding: 160px 50px 5px 50px;
}

footer h3 {
    padding: 0 0 60px 0;
    font-size: 2.5em;
}

.footer-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
}
.network {
    font-size: 4em;
    border: 1px solid #b3ACA7;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
    border-radius: 50%;
}
.network:hover, textarea:hover, input:hover, .form-button:hover {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
}

.form-container {
    padding-top: 20px;
}
#reused_form {
    position: relative;
    margin: 50px auto;
}
input {
    font-size: 0.85em;
    width: 470px;
    height: 50px;
    padding: 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
}

textarea {
    width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3ACA7;
    resize: none;
}

input::placeholder, textarea::placeholder, input:focus::placeholder, textarea:focus::placeholder {
    color: #aca49c;
}
input:hover::placeholder, textarea:hover::placeholder, input:hover::placeholder, textarea:hover:focus::placeholder {
color: #e2dedb;
}

.form-button {
    background: transparent;
    border: solid 1px #b3aca7;
    padding: 20px 75px;
    margin: 14px 0 -20px 0;
}


.form-container h4 {
font-size: 2em;
}

#error_message {
    color: red;
    border: 1px solid red;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 15px 8px 15px;
    box-shadow: 0 0 5px red;
}

#success_message {
    color: green;
    border: 1px solid green;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 0 5px green;
}

.arrow {
    margin: -20 auto;
    padding-top: 15px;
    animation: linear 1.5s;
    animation-iteration-count: infinite;

}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    38% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.arrow a {
    font-size: 3em;
    border: none;
    color: #726659;
}
.arrow:hover i {
    transform: scale(1.6);
    transition: 0.5s ease-in-out;
    color: #726659;
}
footer p {
    font-size: 0.9em;
    letter-spacing: 0.3em;
}

/********************************* Media Queries ***********************************/

@media screen and (max-width: 900px ) {
    .infos h5, .typed {
        font-size: 0. 9em;
    }
    #langages {
        margin-right: 1%;
    }
    #formation {
        margin-right: 1%;
    }
    .network {
        font-size: 2em;
        padding: 10px 20px;
    }
}
    
@media screen and (max-width: 770px) {
    .navbar {
        display: none !important;
    }
    .fixed-top {
        position: unset !important;
    }
    h1, h2 {
        font-size: 2em;
    }
    #langages {
        width: 80%;
        margin-left: 10%;
    }
    #formation {
        margin: 210px 0 0 10%;
        width: 80%;
        float: none;
        display: block;
    }
    .counter-value {
        font-size: 1em;
    }
    .date-span {
        font-size: 0.8em;
    }
    #parcours {
        margin-top: -50px;
    }
    #other-skills h3, #hobbies h3 {
        font-size: 2em;
    }
    .cloud {
        font-size: 1em;
    }
    .flip-box-back p {
        padding: 10px 0px;
    }
    .network {
        font-size: 1.4em;
        padding: 14px;
    }
    input, textarea {
        width: 300px;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        padding: 20px;
    }
    h3 {
        font-size: 1em !important;
    }
    #fcc, #occ {
        padding: 50px 0 0 0;
    }
    #other-skills {
        display: none;
    }
    #hobbies {
        margin-top: -30px;
    }
    .flip-box-back p {
        font-size: 0.7em;
    }
}





